<!-- communiques.html -->

{% extends 'base.html' %}
{% block content %}
  <section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
      <div class="communique">
        <h1>Communiqué à l'attention des retraités</h1>
        <p>Bonjour à tous nos retraités fidèles,</p>

        <p>
          Nous tenons à vous informer que la date de paiement de votre pension pour le mois en cours est fixée au <strong>15 juin 2024</strong>. Nous vous rappelons de vérifier vos comptes bancaires à partir de cette date pour vous assurer que vos paiements ont été traités correctement.
        </p>

        <p>Si vous avez des questions ou des préoccupations concernant votre pension, n'hésitez pas à contacter notre service clientèle au numéro suivant : [Numéro de contact]. Nous sommes là pour vous aider et répondre à toutes vos questions.</p>

        <p>Nous vous remercions pour votre compréhension et votre coopération continue.</p>

        <p>
          Cordialement,<br />L'équipe de gestion des retraites
        </p>
      </div>
    </div>
  </section>
{% endblock %}
