{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="site-section cta-big-image" id="about-section">
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">A propos de nous</h2>
      <p class="lead" data-aos="fade-up" data-aos-delay="100">Nous comprenons l'importance cruciale d'une gestion financière efficace pendant la retraite. En tant qu'agence spécialisée dans les services de paiement des retraités, notre mission est de fournir une assistance financière fiable et continue à ceux qui ont travaillé dur toute leur vie et méritent de profiter pleinement de leurs années de retraite en toute tranquillité d'esprit.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
      <figure class="circle-bg">
        <img src="{% static 'images/img_2.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid" />

      </figure>
    </div>
    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
      <h3 class="text-black mb-4">Nos engagements!</h3>

      <p>Nous nous engageons à placer les intérêts des retraités au cœur de nos préoccupations. Avec une équipe dévouée et expérimentée, nous travaillons chaque jour pour assurer la sécurité financière et le bien-être de nos bénéficiaires. Nos services de paiement sont conçus pour offrir des paiements ponctuels et fiables, garantissant ainsi une retraite sereine et sans soucis.</p>

      <p>Nous croyons en l'importance d'un partenariat solide avec nos clients. Nous nous efforçons de construire des relations durables et de confiance avec nos retraités, en les accompagnant à chaque étape de leur vie après la carrière professionnelle</p>
    </div>
  </div>
</div>
</div>

<div class="site-section" id="next">
<div class="container">
  <div class="row mb-5">
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
      <img src="{% static 'images/flaticon-svg/svg/001-wallet.svg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4" />

      <h3 class="card-title">Agent Civil</h3>
      <p>À nos agents civils retraités : Votre dévouement a façonné notre société. Votre retraite est une nouvelle phase de possibilités. Nous sommes là pour vous soutenir à chaque étape. Votre héritage continue de briller. Ensemble, anticipons les merveilleuses choses à venir."</p>
    </div>
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
      <img src="{% static 'images/flaticon-svg/svg/004-cart.svg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4" />

      <h3 class="card-title">Agent Millitaire</h3>
      <p>À nos vaillants agents militaires à la retraite : Votre service courageux a été le pilier de notre nation. Alors que vous entrez dans cette nouvelle phase de votre vie, souvenez-vous de votre force et de votre résilience. Nous sommes là pour vous soutenir dans cette transition. Votre héritage se perpétue dans chaque vie que vous avez touchée. Regardons ensemble vers l'avenir avec confiance.</p>
    </div>
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
      <img src="{% static 'images/flaticon-svg/svg/006-credit-card.svg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4" />

      <h3 class="card-title">Veuve Civile / Millitaire</h3>
      <p>"À nos veuves, qu'elles aient accompagné un civil ou un militaire : Votre force et résilience sont admirables. Nous vous offrons notre soutien inconditionnel dans cette nouvelle étape de votre vie. Ensemble, honorons le souvenir de vos proches et soutenons votre cheminement vers un avenir empreint de paix."</p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
      <figure class="circle-bg">
        <img src="{% static 'images/about_2.jpg' %}" alt="Free Website Template by Free-Template.co" class="img-fluid" />

      </figure>
    </div>
    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
      <div class="mb-4">
        <h3 class="h3 mb-4 text-black">Notre Priorité</h3>
        <p>"Notre priorité absolue est d'assurer le bien-être financier et émotionnel de nos retraités. Nous nous engageons à fournir un soutien inconditionnel, des conseils personnalisés et une assistance empathique à chaque étape de leur vie après la retraite. Ensemble, nous œuvrons à garantir leur sécurité financière et leur tranquillité d'esprit, tout en honorant leur contribution précieuse à la société."</p>
      </div>

      <div class="mb-4">
        <ul class="list-unstyled ul-check success">
          <li>Fiabilité des paiements</li>
          <li>Soutien personnalisé </li>
          <li>Sécurité Financiaire </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<section class="site-section border-bottom" id="team-section">
<div class="container">
  <div class="row mb-5 justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Nous rencontrer</h2>
      <p class="lead" data-aos="fade-up" data-aos-delay="100">Nous sommes impatients de discuter avec vous de vos besoins financiers et de comment nous pouvons vous aider à atteindre vos objectifs. Que ce soit pour planifier votre retraite, gérer vos investissements ou simplement obtenir des conseils financiers, notre équipe est là pour vous. Contactez-nous dès aujourd'hui pour prendre rendez-vous et commencer à construire votre avenir financier ensemble."</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
      <div class="team-member">
        <figure>
          <ul class="social">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
          <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid" />

        </figure>
        <div class="p-3">
          <h3>Kaiara Spencer</h3>
          <span class="position">Chef d'Agence</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
      <div class="team-member">
        <figure>
          <ul class="social">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
          <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid" />

        </figure>
        <div class="p-3">
          <h3>Dave Simpson</h3>
          <span class="position">Comptable</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
      <div class="team-member">
        <figure>
          <ul class="social">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
          <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid" />
        </figure>
        <div class="p-3">
          <h3>Ben Thompson</h3>
          <span class="position">Caissier</span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<section class="site-section" id="gallery-section" data-aos="fade">
<div class="container">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <h2 class="section-title mb-3">Gallery</h2>
    </div>
  </div>

  <div id="posts" class="row no-gutter">
    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_1.jpg" class="item-wrap fancybox">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_1.jpg' %}" />
      </a>
    </div>
    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_2.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_2.jpg' %}" />
      </a>
    </div>

    <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_3.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_3.jpg' %}" />
      </a>
    </div>

    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="{% static 'images/img_4.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_4.jpg' %}" />

      </a>
    </div>

    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_5.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_5.jpg' %}" />

      </a>
    </div>

    <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_1.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_1.jpg' %}" />

      </a>
    </div>

    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_2.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_2.jpg' %}" />

      </a>
    </div>

    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_3.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_3.jpg' %}" />

      </a>
    </div>

    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_4.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_4.jpg' %}" />

      </a>
    </div>

    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_5.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_5.jpg' %}" />

      </a>
    </div>

    <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_1.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_1.jpg' %}" />

      </a>
    </div>

    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <a href="images/img_2.jpg" class="item-wrap fancybox" data-fancybox="gallery2">
        <span class="icon-search2"></span>
        <img class="img-fluid" src="{% static 'images/img_2.jpg' %}" />

      </a>
    </div>
  </div>
</div>
</section>



<section class="site-section bg-light" id="pricing-section">
<div class="container">
         
  <div class="row site-section" id="faq-section">
    <div class="col-12 text-center" data-aos="fade">
      <h2 class="section-title">Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Comment contacter l'agence pour soumettre une réclamation ou poser une question ?</h3>
        <p>Pour contacter l'agence, vous pouvez accéder à la section "Contact" de la page d'accueil de l'application "AgenceConnect". Vous y trouverez un formulaire de contact où vous pourrez saisir votre réclamation ou votre question et l'envoyer directement à l'agence.</p>
      </div>

      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Comment consulter les communiqués publiés par l'agence ?</h3>
        <p>Pour consulter les communiqués, vous pouvez accéder à la section "Communiqués" de la page d'accueil de l'application "AgenceConnect". Vous y trouverez un article descriptif contenant les communiqués classés par catégorie et ordonnés par date. Vous pouvez parcourir les communiqués pour lire les dernières annonces et informations importantes de l'agence.</p>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Comment consulter la liste des retraités ?</h3>
        <p>Pour consulter la liste des retraités dans l'application "AgenceConnect", vous devez passer par votre "Chef des Employés". En tant qu'utilisateur, vous n'aurez pas directement accès à cette fonctionnalité. Votre "Chef des Employés" pourra vous fournir les informations nécessaires sur les retraités de votre zone géographique ou vous orienter vers les ressources appropriées pour obtenir les détails dont vous avez besoin.</p>
      </div>

      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Comment prendre rendez-vous avec l'agence via l'application "AgenceConnect" ?</h3>
        <p>FPour prendre rendez-vous avec l'agence, vous pouvez utiliser la fonction de contact disponible sur la page d'accueil de l'application. Vous pouvez soumettre votre demande de rendez-vous via le formulaire de contact en précisant vos disponibilités et la nature de votre demande.</p>
      </div>

  
    </div>
  </div>
</div>
</section>





{% endblock %}
