{% extends 'base_Branch_manage.html'%}
{% block content_Branch_manage %}

<section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
            
               
                <form action=""class="p-5 bg-white" method="POST" >
                    <h2 class="col-12 text-center">Modifier une operation  </h2>
                   
                    {% csrf_token %}
                    {{ form.as_p }}
              
                    <input type="submit" class="btn btn-primary btn-md text-whites" value="Modifier">
                     <button class="btn btn-primary btn-md text-whites" >
                        <a href="{% url 'operateretraite' %}"> Retour</a>
                    </button>
                 
                    </form>
                               
                  
                </form>
             
              
           
        
            </div>
      
          </div>
    
    </div>
    </section>

   

{% endblock content_Branch_manage %}